section.thank-you {
  text-align: center;

  h1 {
    color: blue;
    font-size: 2em;
  }

  ul {
    padding: 0 4em;

    li {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: $base-spacing;

      img {
        margin-right: $small-spacing;
        height: 24px;
        width: 24px;
      }

      p, strong {
        display: inline-block;
        margin-bottom: 0;
        font-size: 1.25em;
        text-align: left;
      }
    }
  }

}
