section.module-header {
  margin: $section-spacing 0;

  h2 {
    font-weight: normal;
  }

  a {
    font-weight: bold;
    color: $blue;
  }

  small {
    color: $blue;
  }

  small {
    display: block;
    color: $blue;
  }

  @include grid-media($large-grid) {
    a {
      font-size: 1.5em;
    }
  }
}

div.module-container {
  @include grid-column(12);
  flex-flow: column nowrap;
  jusitfy-content: flex-start;
  align-items: center;
  margin-bottom: $base-spacing;
  flex: 0 1 1;

  small {
    display: inline-block;
  }

  @include grid-media($large-grid) {
    @include grid-column(4);
  }
}

section.modules {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: stretch;

  article.active-module {
    background-color: $blue;

    h1 {
      color: $blue;
    }
  }

  article.unactive-module {
    background-color: lightgrey;

    h1 {
      color: lightgrey;
    }
  }

  article.active-module,
  article.unactive-module {
    color: white;
    padding: $base-spacing $small-spacing;
    border-radius: 5px;
    margin-bottom: $small-spacing;

    div.download-container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;

      img {
        display: inline-block;
        margin-right: $small-spacing;
        height: 48px;
        width: auto;
      }

      p {
        display: inline-block;
        margin-bottom: 0;
      }
    }

    header {
      background-color: white;
      border-radius: 5px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      padding: 1em;
      margin-bottom: $small-spacing;
      min-height: 400px;

      h1 {
        font-weight: normal;
        font-size: 2em;
      }
    }
  }
}
