@charset "utf-8";

@import 'bourbon';
@import 'base/base';
@import 'neat';
@import 'product';
@import 'learning';
@import 'connect';
@import 'ba';


body {
  background-color: white;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  text-align: center;
}

strong, p {
  @include grid-media($large-grid) {
    font-size: 1.33em;
  }
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.main-container {
  max-width: 960px;
  display: block;
  margin: 0 auto;
}


nav {
  display: flex;
  flex-flow: row wrap;
  padding: $small-spacing;

  section.logo {
    display: none;
  }

  section.navigation {
    margin-left: auto;

    ul {
      display: flex;
      flex-flow: row nowarp;
      color: blue;

      li {
        a {
          color: blue;
          text-decoration: none;
          text-transform: uppercase;
        }

        a.kickstarter-link {
          color: grey;
          cursor: disabled;
          pointer-events: none;
        }
      }

      span.navigation-divider {
        margin: 0 $small-spacing;
      }
    }

    div.social-icons {
      float: right;
      img {
        width: 36px;
        height: 36px;
        margin: $small-spacing;
        background-color: grey;
        border-radius: 5px;
        padding: $small-spacing / 2;
      }
    }
  }

  section.mobile-logo {
    display: block;
    margin-top: $base-spacing;
    @include grid-column(12);
    margin-bottom: $base-spacing;

    img {
      display: block;
      margin: 0 auto;
      width: 75%;
    }
  }

  @include grid-media($large-grid) {
    @include grid-container;
    display: block;

    section.logo {
      display: block;
      @include grid-column(3);
    }

    section.navigation {
      @include grid-column(9);

      ul {
        float: right;

        span.navigation-divider {
          margin: 0 $small-spacing;
        }
      }
    }

    section.mobile-logo {
      display: none;
    }
  }
}

section.splash,
section.kickstarter,
section.features,
section.benefit,
section.benefit-2,
section.kickstarter-2,
section.quote,
section.logo-section {
  margin: ($section-spacing / 2) $small-spacing;

  @include grid-media($large-grid) {
    margin: $section-spacing;
  }
}

section.splash {
  margin-bottom: $section-spacing / 2;

  h2 {
    font-weight: normal;
  }

  h1 {
    color: blue;
  }

  @include grid-media($large-grid) {
    padding: $section-padding;
  }
}

section.kickstarter {
  @include grid-container;
  margin-top: $section-spacing / 2;

  div.kickstarter-logo {
    @include grid-column(12);

    img {
      height: 100%;
      width: 100%;
      max-width: 700px;
      display: block;
      margin: 0 auto;
      padding: $small-spacing;
    }
  }

  a {
    color: $green;
    font-size: 1.5em;
    margin-bottom: $small-spacing;
    display: block;
  }

  .green {
    color: $green;
  }

  article {
    @include grid-column(4);

    header h1 {
      color: $green;
      display: block;
      width: 75px;
      height: 75px;
      border: black solid;
      margin: 0 auto;
      line-height: 75px;
      margin-bottom: $small-spacing;
    }

    h2 {
      font-size: 1.3em;
    }
  }

  @include grid-media($large-grid) {
    a {
      font-size: 2em;
    }

    div.kickstarter-logo {
      margin: $base-spacing;

      img {
      }
    }

    article {
      h1 {
        width: 100px;
        height: 100px;
        line-height: 100px;
      }
    }
  }
}


section.features {
  @include grid-container;

  a {
    font-weight: bold;
    color: blue;
  }

  figure {
    @include grid-column(12);
    margin-bottom: $base-spacing * 2;

    figcaption {
      color: blue;
      font-size: 1.5em;
      font-weight: bold;
    }

    img {
      width: 75px;
      height: auto;
    }
  }

  @include grid-media($large-grid) {
    a {
      font-size: 1.5em;
    }

    figure {
      @include grid-column(4);

      figcaption {
        font-size: 2em;
      }
      img {
        width: 100px;
      }
    }
  }
}

section.benefit {
  @include grid-container;

  p {
    margin-top: $base-spacing;
  }

  strong {
    color: blue;
    font-size: 2em;
    margin-bottom: $small-spacing;
    display: block;
  }

  figure {
    img {
      width: 100%;
    }
  }

  ul {
    margin-bottom: $base-spacing;
    margin-left: $base-spacing;
    text-align: left;

    li {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: $base-spacing;

      img {
        height: 24px;
        width: auto;
        margin-right: $small-spacing;
      }

      h2 {
        margin-bottom: 0;
        font-weight: normal;
      }
    }
  }

  @include grid-media($large-grid) {
    ul {
      @include grid-column(6);
    }

    figure {
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
    }
  }
}

section.benefit-2 {

  h2 {
    font-weight: normal;
    margin-bottom: $base-spacing;
    line-height: 1.5;
  }

  section.grid {
    display: flex;
    flex-flow: row wrap;

    article.grid-item {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: blue;
      padding: 0 $base-spacing;
      border: 3px solid white;
      border-style: solid;
      max-width: 50%;

      &:last-child {
        max-width: 100%;
      }

      h3 {
        text-align: center;
        font-size: 0.75em;
        padding: $small-spacing;
        color: white;
      }
    }
  }

  @include grid-media($large-grid) {
    section.grid {
      display: block;
      @include grid-container;

      article.grid-item {
        @include grid-column(4);
        height: 200px;
        margin-bottom: $base-spacing;
        border: none;
        h3 {
          font-size: 1.25em;
        }
      }
    }
  }
}

section.kickstarter-2 {
  article.kickstarter-2__link {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    img {
      flex: 1;
      width: 75px;
    }

    a {
      flex: 1;
      color: $green;

      div {
        display: flex;
        flex-flow: column nowrap;
      }

      h1 {
        margin-bottom: $small-spacing / 2;
        margin-left: $base-spacing;
        margin-right: $base-spacing;
      }
    }
  }

  @include grid-media($large-grid) {
    article.kickstarter-2__link {
      flex-flow: row nowrap;

      img {
        flex: 1;
        width: 75px;
      }

      a {
        flex: 3;
        color: $green;

        h1 {
          margin-bottom: $small-spacing / 2;
        }
      }
    }
  }
}

section.quote {
  @include grid-collapse;
  padding: $base-spacing;
  background-color: lightgrey;

  h2 {
    font-weight: normal;
  }

  @include grid-media($large-grid) {
    margin: $base-spacing;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

section.logo-section {
  img {
    max-width: 300px;
  }
}

footer {
  @include grid-column(12);
  @include grid-collapse;

  background-color: grey;
  margin-bottom: 0;
  color: white;

  ul {
    margin-bottom: $base-spacing;

    span.navigation-divider {
      display: none;
    }
  }

  small {
    display: block;
  }

  a {
    color: white;
  }

  @include grid-media($large-grid) {
    padding: $section-spacing;

    ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;

      span.navigation-divider {
        display: block;
        margin: 0 $small-spacing;
      }
    }
  }
}

section.contact-header {
  display: block;
  margin: 0 auto;
  max-width: 700px;
  h1 {
    font-weight: normal;
    font-size: 3em;
    color: blue;
  }
}

section.contact-form {
  @include grid-collapse;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  margin: $base-spacing;
  width: 110vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color: lightgrey;
  padding: $base-spacing;


  form {
    min-width: 700px;
    margin-left: -2 * $base-spacing;

    div.form-group {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;

      input.full-width {
        margin-left: $small-spacing;
      }

      input.half-width {
        margin-left: $small-spacing;
      }
    }

    input[type="submit"] {
      border-radius: 40px;
      text-transform: uppercase;
    }
  }
}

section.thank-you {
  margin: $section-spacing 0;
}
