@charset "utf-8";

@import 'bourbon';
@import 'base/base';
@import 'neat';


$section-padding: 1em;
$section-spacing: 10vh;

$green: #14E06E;

body {
  background-color: white;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  text-align: center;
}

strong, p {
  font-size: 1.33em;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.main-container {
  max-width: 960px;
  display: block;
  margin: 0 auto;
}


nav {
  display: flex;
  flex-flow: row nowrap;
  padding: $small-spacing;

  section.logo {
    img {
      width: auto;
      height: 75px;
    }
  }

  section.navigation {
    margin-left: auto;
  }
}

section.splash,
section.kickstarter,
section.features,
section.benefit,
section.benefit-2,
section.kickstarter-2,
section.quote,
section.logo-section {
  margin: $section-spacing;
}

section.splash {
  padding: $section-padding;
  margin-bottom: $section-spacing / 2;

  h2 {
    font-weight: normal;
  }

  h1 {
    color: blue;
  }
}

section.kickstarter {
  @include grid-container;
  margin-top: $section-spacing / 2;

  div.kickstarter-logo {
    @include grid-column(12);
    margin: $base-spacing;

    img {
      height: 75px;
      width: auto;
      display: block;
      margin: 0 auto;
    }
  }

  a {
    color: $green;
    font-size: 2em;
    margin-bottom: $small-spacing;
    display: block;
  }

  .green {
    color: $green;
  }

  article {
    @include grid-column(4);

    h1 {
      color: $green;
      display: block;
      width: 100px;
      height: 100px;
      border: black solid;
      margin: 0 auto;
      line-height: 100px;
      margin-bottom: $small-spacing;
    }
  }
}


section.features {
  @include grid-container;

  a {
    font-size: 1.5em;
    font-weight: bold;
    color: blue;
  }

  figure {
    @include grid-column(4);
    margin-bottom: $base-spacing * 2;

    figcaption {
      color: blue;
      font-size: 2em;
      font-weight: bold;
    }

    img {
      width: 100px;
      height: auto;
    }
  }
}

section.benefit {
  @include grid-container;

  p {
    margin-top: $base-spacing;
  }

  strong {
    color: blue;
    font-size: 2em;
    margin-bottom: $small-spacing;
    display: block;
  }

  figure {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    img {
      width: 100%;
    }
  }

  ul {
    @include grid-column(6);
    margin-bottom: $base-spacing;

    li {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: $base-spacing;

      img {
        height: 24px;
        width: auto;
        margin-right: $small-spacing;
      }

      h2 {
        margin-bottom: 0;
        font-weight: normal;
      }
    }
  }
}

section.benefit-2 {
  section.grid {
    @include grid-container;

    article {
      @include grid-column(4);
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: blue;
      height: auto;
      height: 200px;
      margin-bottom: $base-spacing;
      padding: 0 $base-spacing;

      h3 {
        text-align: center;
        color: white;
      }
    }
  }
}

section.kickstarter-2 {
  article.kickstarter-2__link {
    display: flex;
    flex-flow: row nowarp;
    justify-content: center;
    align-items: center;

    img {
      flex: 1;
      width: 75px;
    }

    a {
      flex: 3;
      color: $green;

      h1 {
        margin-bottom: $small-spacing / 2;
      }
    }
  }
}

section.quote {
  margin: $base-spacing;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color: lightgrey;
  padding: $base-spacing;


  h2 {
    font-weight: normal;
  }
}

section.logo-section {
  img {
    max-width: 300px;
  }
}

footer {
  padding: $section-spacing;
  background-color: grey;
  margin-bottom: 0;
  color: white;

  small {
    display: block;
  }

  a {
    color: white;
  }
}
