<footer>
  <%= link_to 'Kick Starter', '#' %> |
  <%= link_to 'The Product', '#' %> |
  <%= link_to 'Learning Program', '#' %> |
  <%= link_to 'Connect With Us', '#' %>

  <p>© JuniorPreneur, Calgary, Canada</p>
</footer>
