<footer>
  <ul>
    <li><%= link_to 'Kick Starter', '#', class: 'kickstarter-link' %></li><span class="navigation-divider">|</span>
    <li><%= link_to 'The Product', 'product' %></li><span class="navigation-divider">|</span>
    <li><%= link_to 'Learning Program', 'learning' %></li><span class="navigation-divider">|</span>
    <li><%= link_to 'Connect With Us', 'connect' %></li>
  </ul>

  <small>© Juniorpreneur, Calgary, Canada</small>
</footer>
