<footer>
  <ul>
    <li><%= link_to 'Kick Starter', '#' %></li>
    <li><%= link_to 'The Product', '#' %></li>
    <li><%= link_to 'Learning Program', '#' %></li>
    <li><%= link_to 'Connect With Us', '#' %></li>
  </ul>

  <small>© JuniorPreneur, Calgary, Canada</small>
</footer>
