<footer>
  <ul>
    <li><%= link_to 'Kick Starter', 'https://www.kickstarter.com/projects/213254513/juniorpreneur-go-beyond-the-lemonade-stand', target: "_blank", class: 'kickstarter-link' %></li><span class="navigation-divider">|</span>
    <li><%= link_to 'The Product', 'product' %></li><span class="navigation-divider">|</span>
    <li><%= link_to 'Learning Program', 'learning' %></li><span class="navigation-divider">|</span>
    <li><%= link_to 'Connect With Us', 'connect' %></li>
  </ul>

  <small>© Juniorpreneur, Calgary, Canada</small>
</footer>
