<section class="connect-form">
  <form>
    <div class="form-group">
      <input type="text" class="full-width" placeholder="NAME">
      <input type="text" class="full-width" placeholder="EMAIL">
      <div class="province-submit">
        <input type="text" class="half-width" placeholder="PROV/STATE">
        <input type="submit">
      </div>
    </div>

    <div class="form-group">
      <textarea rows=10 class="full-width" placeholder="QUESTIONS/COMMENTS">Please add me to the JuniorPreneur mailing list</textarea>
    </div>
  </form>
</section>

<section class="connect-header">
  <div class="grey-container"></div>
    <figure>
      <%= image_tag 'juniorpreneur-dads.jpg' %>
    </figure>

    <header>
      <h1>Meet The<br>Dads Behind<br>JuniorPreneur</h1>
    </header>
</section>

<section class="connect-bios">
  <hr />

  <article>
    <section class="connect-bios__profile">
      <figure>
        <%= image_tag 'jayson-krause.jpg' %>
        <figcaption>Jayson Krause</figcaption>
      </figure>
    </section>

    <section class="connect-bios__bio">
      <p>Hi I am Jayson Krause.</p>
    </section>
  </article>

  <hr />

  <article>
    <section class="connect-bios__profile">
      <figure>
        <%= image_tag 'gavin-harrison.jpg' %>
        <figcaption>Gavin Harrison</figcaption>
      </figure>
    </section>

    <section class="connect-bios__bio">
      <p>
      Entrepreneurship runs deep in Gavin's DNA, having grown up in a household
      where both parents were self-employed and entrepreneurship was a way of life.
      Gavin opened his first brick-and-mortar business while still in high school.
      Later selling his business to start a new company in the graphics industry,
      which grew to have eight offices nationally and a staff of over seventy employees.
      In 2010, he was named a 'Leader of Tomorrow' by Business Calgary Magazine.
      </p>

      <p>
      Today, Gavin is the father of two remarkable girls and is an active partner in a
      number of business ventures. He works with entrepreneurs in all stages of their
      business, helping to build their strategic plan using his exclusive ATLAS program
      to facilitate the process.
      </p>
    </section>
  </article>

  <hr />

  <article>
    <section class="connect-bios__profile">
      <figure>
        <%= image_tag 'daniel-howie.jpg' %>
        <figcaption>Daniel Howie</figcaption>
      </figure>
    </section>

    <section class="connect-bios__bio">
      <p>
      Creating, designing, and building is Daniel's bread and butter, seeing as
      he grew up in a house that his father is still trying to complete to this day!
      Daniel started swinging a hammer before he could walk and spent his entire childhood
      helping his father build the family dream home. After college, Daniel spent 12 years
      in the church as a youth director teaching and leading children of all ages.
      During his tenure at the church he had to make quite a few lemonade stands for the
      vacation bible school programs in the summer and always thought there had to be a
      better way.
      </p>

      <p>
      Today, Daniel is a first time father with a healthy newborn baby boy in Calgary.
      He works with a local non-profit in a town that helps professional athlentes and
      para athletes mentor classroom children all over North America
      </p>
    </section>
  </article>

  <hr />
</section>
