<section class="module-header">
  <h2>
    The Juniorpreneur curriculum is comprised of the following six modules,
    which guide you through the essentials of building a business plan, testing it
    in real-life scenarios, and fine tuning your formula for the best results!
  </h2>

  <%= link_to 'DOWNLOAD OUR FREE PROGRAM PRIMER', '#', title: 'COMING SOON', onClick: "alert('Coming Soon!')" %>
  <small>and get a taste of what the Juniorpreneur curriculum is all about!</small>
</section>

<section class="modules">
  <% data.modules.each_with_index do |product_module, index| %>
    <div class="module-container">
    <article class="unactive-module">

    <p>MODULE <%= index + 1 %></p>

    <header>
    <h1>
      <%= product_module %>
    </h1>
    </header>

    <div class="download-container">
      <%= image_tag 'download.png' %>
      <p>Download<p>
    </div>
  </article>
  <small>MEMBERSHIP REQUIRED</small>
  </div>
  <% end %>
</section>

